# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Directory for instrumented libs used by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# Production build outputs
client/dist/

# Secret Environment variables configuration matrices
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating system files
.DS_Store
Thumbs.db